<h2 class="display-3 mb-4">Task Details</h2>
<!-- d-flex justify-content-between align-items-center -->
<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center" [ngClass]="color">
    <h4 class="card-title">{{ task.name }}</h4>
    <div class="actions">
      <span *ngIf="task.done; else notDone" class="badge badge-info">Done</span>
      <ng-template #notDone>
        <span class="badge badge-warning">Not Done</span>
      </ng-template>
      <a href="#" class="text-dark" title="Edit Task?" routerLink="/task/edit/{{ task._id }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      <a class="text-dark" title="Delete Task?" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-7">
        <p>{{ task.details }}</p>
      </div>
      <div class="col-5">
        <ul class="list-group">
          <li class="list-group-item">
            Start Date: <strong>{{ task.startDate | date:'fullDate' }}</strong>
          </li>
          <li class="list-group-item">
            End Date:
            <strong>{{ task.endDate | date:'fullDate' }}</strong>
          </li>
          <li class="list-group-item">
            Created Date:
            <strong>{{ task.createdDate | date:'fullDate' }}</strong>
          </li>
          <li *ngIf="task.done" class="list-group-item">
            Done Date:
            <strong>{{ task.doneDate | date:'fullDate' }}</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you really wan't to delete this task?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteTask(task._id)" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>