<h2 class="display-3 mb-4">Add a Task</h2>
<form #taskForm="ngForm" (ngSubmit)="addTask(taskForm)" novalidate>

  <div class="form-group">
    <label for="task">Tasks Name</label>
    <input [(ngModel)]="task.name" type="text" name="name" id="tasks" class="form-control" minlength="3" placeholder="Task name..." #nameField="ngModel" [ngClass]="{'is-invalid' : nameField.invalid && (nameField.dirty || nameField.touched)}" required>

    <div *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)" class="invalid-feedback">
      <div *ngIf="nameField.errors.required">
        Task Name is required.
      </div>
      <div *ngIf="nameField.errors.minlength">
        Task name must be atleast {{ nameField.errors.minlength.requiredLength }} characters long.
      </div>
    </div>

  </div>

  <div class="form-group">
    <label for="startDate">Start Date</label>
    <input [(ngModel)]="task.startDate" type="date" name="startDate" id="startDate" class="form-control" #startDateField [ngClass]="{'is-invalid' : startDateField.invalid && (startDateField.dirty || startDateField.touched)}" required>

    <div *ngIf="startDateField.invalid && (startDateField.dirty || startDateField.touched)" class="invalid-feedback">
      <div *ngIf="startDateField.errors.required">
       Start Date is required.
      </div>
    </div>

  </div>

  <div class="form-group">
    <label for="endDate">End Date</label>
    <input [(ngModel)]="task.endDate" type="date" name="endDate" id="endDate" class="form-control" #endDateField [ngClass]="{'is-invalid' : endDateField.invalid && (endDateField.dirty || endDateField.touched)}" required>

    <div *ngIf="endDateField.invalid && (endDateField.dirty || endDateField.touched)" class="invalid-feedback">
      <div *ngIf="endDateField.errors.required">
        End Date is required.
      </div>
    </div>

  </div>

  <div class="form-group">
    <label for="details">Details</label>
    <textarea [(ngModel)]="task.details" name="details" id="details" cols="4" rows="5" class="form-control" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- [disabled]="!taskForm.form.valid" -->
