<h2 class="display-3 mb-4">Add a Task</h2>
<form #taskForm="ngForm" (ngSubmit)="addTask(taskForm)">

  <div class="form-group">
    <label for="task">Tasks Name</label>
    <input [(ngModel)]="task.name" type="text" name="name" id="tasks" class="form-control" minlength="3" placeholder="Task name..." #nameField="ngModel" [ngClass]="{'is-invalid' : nameField.invalid && (nameField.dirty || nameField.touched)}" required>

    <div *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)" class="invalid-feedback">
      <div *ngIf="nameField.errors.required">
        Task Name is required.
      </div>
      <div *ngIf="nameField.errors.minlength">
        Task name must be atleast {{ nameField.errors.minlength.requiredLength }} characters long.
      </div>
    </div>

  </div>

  <div class="form-group">
    <label for="daterange">Task Date</label>
    <input type="text" [(ngModel)]="daterangeInput" (change)="daterangeInput" class="form-control" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" #daterangeInputField="ngModel" required>
  </div>

  <div class="form-group">
    <label for="details">Details</label>
    <textarea [(ngModel)]="task.details" name="details" id="details" cols="4" rows="5" class="form-control" required></textarea>
  </div>
  <button [disabled]="!taskForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- [disabled]="!taskForm.form.valid" -->
